.bigBox{
    width: 500px;
    height: 500px;
    background: aqua;
    position: relative;
}
.miniBox{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    border-radius: 50px;

}

.container2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}